.well {
  padding-bottom: 30px;
  margin-bottom: 40px;
  background-color: #252834;
  color: #EDEDED;
  border-left: 5px solid #CAA37E;
  border-right: 5px solid #CAA37E;
  border-top: 2px solid #252834;
  border-bottom: 2px solid #252834;
}

.filmThumb {
  max-width: 65px;
  height: auto;
  max-height: 95px;
  float: left;
  margin-left: 50px;
  margin-top: 5px;
} /*for poster thumbnail */

h3 {
  cursor: pointer;
  cursor: hand;
}

.none {
  margin-top: 200px; 
} /*used whenever no search results available */

.hasPosterThumb {
  padding-left: 150px;
} /*used whenever a poster thumbnail is present for a search result */

.noPoster {
  padding-left: 50px;
} /*used whenever no poster thumbnail is present for a search result */

.loader {
  padding-left: 50px;
}

.filmDetail {
  padding-left: 50px;
  padding-right: 45px;
} /*used whenever movie details are displayed */

p {
  margin-top: 15px;
  font-size: 16px;
}

.poster {
  margin-top: 10px;
  margin-bottom: 5px;
  max-height: 300px;
  width: auto;
} /*full-sized poster image in movie details */

.expand {
  float: right;
  font-size: 30px;
  margin-right: 45px;
  margin-top: -3px;
} /*menu-up/down glyphicon span */

.imdbLink {
  margin-top: 15px;
  padding-bottom: 10px;
} /*link to the movie page on IMDB */

a {
  color: #5eabee;
  font-size: 16px;
}