.filmThumb {
  max-width: 65px;
  height: auto;
  max-height: 95px;
  float: left;
  margin-left: 50px;
  margin-top: 5px;
}

h3 {
  cursor: pointer;
  cursor: hand;
}

.well {
  padding-bottom: 30px;
  margin-bottom: 40px;
  background-color: #252834;
  color: #EDEDED;
  border-left: 3px solid #CAA37E;
  border-right: 3px solid #CAA37E;
}

.none {
  margin-top: 200px; 
}

.filmTitle {
  padding-left: 150px;
}

.titleDetail {
  padding-left: 50px;
}

.filmDetail {
  padding-left: 50px;
  padding-right: 45px;
}

p {
  margin-top: 15px;
}

.poster {
  margin-top: 10px;
  margin-bottom: 5px;
  max-height: 300px;
  width: auto;
}

.expand {
  float: right;
  font-size: 30px;
  margin-right: 45px;
  margin-top: -3px;
}

.imdbLink {
  margin-top: 15px;
  padding-bottom: 10px;
}

a {
  color: #5eabee;
}