.filmThumb {
  max-width: 65px;
  height: auto;
  max-height: 95px;
  float: left;
  margin-left: 50px;
}

.well {
  padding-bottom: 30px;
  margin-bottom: 40px;
  background-color: #44475A;
  color: #EDEDED;
  border: 3px solid #CAA37E;
}

.filmTitle {
  padding-left: 150px;
}

.filmDetail {
  padding-left: 50px;
  padding-right: 45px;
}