.filmThumb {
  max-width: 65px;
  height: auto;
  max-height: 95px;
  float: left;
  margin-left: 50px;
  margin-top: 5px;
}

h3 {
  cursor: pointer;
  cursor: hand;
}

.well {
  padding-bottom: 30px;
  margin-bottom: 40px;
  background-color: #44475A;
  color: #EDEDED;
  border: 3px solid #CAA37E;
}

.none {
  margin-top: 200px; 
}

.filmTitle {
  padding-left: 150px;
}

.titleDetail {
  padding-left: 50px;
}

.filmDetail {
  padding-left: 50px;
  padding-right: 45px;
}

p {
  margin-top: 15px;
}

/*.expand {
  text-align: center;
}*/
span {
  float: right;
  font-size: 30px;
  margin-right: 45px;
  margin-top: -3px;
}